body{
    background-color: rgb(202, 202, 248);
}

.header{
    font-size: 90px;
    font-style: italic;
    text-align: center;
    position: absolute;
    inset: 25% 25% 25% 25%;
    
}
.side{
    margin-top: auto;
    font-size: 45px;
    text-align: center;
    font-style: normal;
}

.side button{
    background-color: transparent;
    border: 3px none red;
    border-radius: 5px;
    padding: 10px;
    transition: all .15s ease-in-out;
    color: red;
    font-size: 30px;
}
.side button:hover {
box-shadow: 0 0 10px 0 red inset, 0 0 20px 2px red;
border: 3px none red;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.play-area {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: auto auto auto;
}
.block{
    /* display: flex; */
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid black;
    transition: background 0.2s ease-in-out;
    background-color: transparent;
  }
  
.block:hover {
  cursor: pointer;
  background: rgb(236, 150, 150);
}

#block_0,
#block_1,
#block_2 {
  border-top: none;
}

#block_0,
#block_3,
#block_6 {
  border-left: none;
}

#block_6,
#block_7,
#block_8 {
  border-bottom: none;
}

#block_2,
#block_5,
#block_8 {
  border-right: none;
}

.restart, .restart:hover{
  cursor: pointer;
  margin-top: 50%;
  background-color: transparent;
  border: none;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}